<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="StockDatabase"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='E:\exampleexample\shopmanagement\StockManagementDatabase.mdf';Integrated Security=True"
         providerName=".NET Framework Data Provider for SQL Server"
         />
  </connectionStrings>
</configuration>